body {
    background-color: #2c2f33; /* Color de fondo oscuro */
    margin: 0px 50px 0 50px;
    color: white;
  }
  .navbar {

 
    width: 100%; /* Asegura que ocupe todo el ancho */
    border-radius: 0; /* Sin bordes redondeados */
  }

  .carousel {
    border-radius: 10px;
    overflow: hidden; /* Asegura que las imágenes no se desborden */
  }

  #imageNavbar {

    width: 30px;  
}
#seccionCard
{
    align-items:center
}
#seccionCard img {
   height: 130px;
  
   
}

.card-title, .card-text {
    color: white;
}

.card-body {
    background-color:#00A9AF;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-left {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    width: 60%;
    background-color: #fff;

    
    
}

.card-title {
    font-size: 1.25rem;
    color: black;
}

.card-text {
    font-size: 1rem;
    color: black;
}

.flight-price {
    display: flex;
    justify-content: space-around;
}

.testimonials__list {
    display: flex;
    
   
}
.testimonials__text, .testimonials__author {
   text-align: center; 

}

.testimonials__image {
position: relative;   
left: 37%; 
border-radius: 77px;
width: 80px;
height: 80px;





}




